.smartbanner-android {
	background: #3d3d3d url('dark_background_stripes.gif');
	box-shadow: inset 0 4px 0 #88B131;
	line-height: 82px;

	.smartbanner-close {
		border: 0;
		width: 17px;
		height: 17px;
		line-height: 17px;
		margin-right: 7px;
		color: #b1b1b3;
		background: #1c1e21;
		text-shadow: 0 1px 1px #000;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8) inset, 0 1px 1px rgba(255, 255, 255, 0.3);
	}

	.smartbanner-close:active,
	.smartbanner-close:hover {
		color: #eee;
	}

	.smartbanner-icon {
		background-color: transparent;
		box-shadow: none;
	}

	.smartbanner-info {
		color:#ccc;
		text-shadow:0 1px 2px #000;
	}

	.smartbanner-title {
		color:#fff;
		font-weight: bold;
	}

	.smartbanner-button {
		min-width: 12%;
		color: #d1d1d1;
		padding: 0;
		background: none;
		border-radius: 0;
		box-shadow: 0 0 0 1px #333, 0 0 0 2px #DDDCDC;
	}

	.smartbanner-button:active,
	.smartbanner-button:hover {
		background: none;
	}

	.smartbanner-button-text {
		text-align: center;
		display: block;
		padding: 0 10px;
		background: #42B6C9;
		background: linear-gradient(to bottom, #42B6C9, #39A9BB);
		text-transform: none;
		text-shadow: none;
		box-shadow: none;
	}

	.smartbanner-button-text:active,
	.smartbanner-button-text:hover {
		background: #2AC7E1;
	}
}

