.smartbanner-show {
  margin-top: 80px;
  .smartbanner {
    display: block;
  }
}

/** Default **/

.smartbanner {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-family: 'Helvetica Neue', sans-serif;
  background: #f4f4f4;
  z-index: 9998;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  -webkit-text-size-adjust: none;

	// // Color
	@import "components/color-variables";
	@import "components/color-classes";

	// // Variables;
	@import "components/variables";

	// // components
	@import "components/global";
	// @import "components/badges";
	// @import "components/icons-material-design";
	// @import "components/grid";
	// @import "components/navbar";
	// @import "components/typography";
	// @import "components/transitions";
	// @import "components/cards";
	// @import "components/toast";
	// @import "components/tabs";
	// @import "components/tooltip";
	@import "components/buttons";
	// @import "components/dropdown";
	// @import "components/waves";
	// @import "components/modal";
	// @import "components/collapsible";
	// @import "components/chips";
	// @import "components/materialbox";
	// @import "components/forms/forms";
	// @import "components/table_of_contents";
	// @import "components/sidenav";
	// @import "components/preloader";
	// @import "components/slider";
	// @import "components/carousel";
	// @import "components/tapTarget";
	// @import "components/pulse";
	// @import "components/datepicker";
	// @import "components/timepicker";

}

.smartbanner-container {
  margin: 0 auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.smartbanner-close {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 5px;
  font-family: 'ArialRoundedMTBold', Arial;
  font-size: 20px;
  text-align: center;
  color: #888;
  text-decoration: none;
  border: 0;
  border-radius: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
  &:active, &:hover {
    color: #aaa;
  }
}

.smartbanner-icon {
  display: inline-block;
  vertical-align: middle;
  width: 57px;
  height: 57px;
  margin-right: 12px;
  background-size: cover;
  border-radius: 10px;
}

.smartbanner-info {
//   display: inline-block;
  vertical-align: middle;
  width: 44%;
  flex: 1;
  font-size: 11px;
  line-height: 1.2em;
  font-weight: bold;
}

.smartbanner-title {
  font-size: 13px;
  line-height: 18px;
}

.smartbanner-button {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   margin: auto 0;
  margin-right: 20px;
//   height: 24px;
//   font-size: 14px;
//   line-height: 24px;
//   text-align: center;
//   font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
//   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  &:active, &:hover {
    // color: #aaa;
  }
}

.smartbanner-button-text {
  &:active, &:hover {}
}

/** iOS **/

.smartbanner-ios {
  line-height: 82px;
  .smartbanner-close {
    border: 0;
    width: 17px;
    height: 17px;
    line-height: 17px;
    margin-right: 7px;
    color: #000;
  }
  .smartbanner-icon {
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .smartbanner-info {
    color: #000;
  }
  .smartbanner-title {
    color: #000;
  }
}

/** Android **/

.smartbanner-android {
  line-height: 82px;
  .smartbanner-close {
    border: 0;
    width: 17px;
    height: 17px;
    line-height: 17px;
    margin-right: 7px;
    color: #000;
  }
  .smartbanner-icon {
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .smartbanner-info {
    color: #000;
  }
  .smartbanner-title {
    color: #000;
  }
}

/** Windows **/

.smartbanner-windows {
  line-height: 82px;
  .smartbanner-close {
    border: 0;
    width: 17px;
    height: 17px;
    line-height: 17px;
    margin-right: 7px;
    color: #000;
  }
  .smartbanner-icon {
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .smartbanner-info {
    color: #000;
  }
  .smartbanner-title {
    color: #000;
  }
}