.smartbanner-show {
	margin-top: 82px;
}
.smartbanner-show .smartbanner {
	display: block;
}

.smartbanner {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 78px;
	font-family: 'Helvetica Neue', sans-serif;
	background: #f4f4f4;
	background: linear-gradient(to bottom, #f4f4f4, #cdcdcd);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	z-index: 9998;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	-webkit-text-size-adjust: none;
}

.smartbanner-container {
	margin: 0 auto;
}

.smartbanner-close {
	position: absolute;
	left: 7px;
	top: 32px;
	display: block;
	width: 14px;
	height: 14px;
	font-family: 'ArialRoundedMTBold', Arial;
	font-size: 20px;
	line-height: 15px;
	text-align: center;
	color: #888;
	text-decoration: none;
	text-shadow: 0 1px 0 white;
	border-radius: 14px;
	-webkit-font-smoothing: subpixel-antialiased;
}

.smartbanner-close:active, .smartbanner-close:hover {
	font-size: 13px;
	color: #aaa;
}

.smartbanner-icon {
	position: absolute;
	left: 30px;
	top: 10px;
	display: block;
	width: 57px;
	height: 57px;
	background: rgba(0,0,0,0.6);
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.smartbanner-info {
	position: absolute;
	left: 98px;
	top: 18px;
	width: 44%;
	font-size: 11px;
	line-height: 1.2em;
	font-weight: bold;
	color: #6a6a6a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.smartbanner-title {
	font-size:13px;
	color:#4d4d4d;
	line-height: 18px;
	font-weight: bold;
}

.smartbanner-button {
	position: absolute;
	right: 20px;
	top: 24px;
	border: 1px solid #bfbfbf;
	padding: 0 10px;
	min-width: 10%;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	color: #6a6a6a;
	background: #efefef;
	background: linear-gradient(to bottom, #efefef, #dcdcdc);
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 0 rgba(255, 255, 255, 0.7) inset;
}

.smartbanner-button:active, .smartbanner-button:hover {
	background: #dcdcdc;
	background: linear-gradient(to bottom, #dcdcdc, #efefef);
	color: #6a6a6a;
}

.smartbanner-android {
	border-color: #212228;
	background: #3d3d3d url('dark_background_stripes.gif');
	border-top: 5px solid #88B131;
	box-shadow: none;
}

.smartbanner-android .smartbanner-icon {
	background-color: transparent;
	box-shadow: none;
}

.smartbanner-android .smartbanner-close {
	border: 0;
	width: 17px;
	height: 17px;
	line-height: 17px;
	color: #b1b1b3;
	background: #1c1e21;
	text-shadow: 0 1px 1px #000;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8) inset, 0 1px 1px rgba(255, 255, 255, 0.3);
}

.smartbanner-android .smartbanner-close:active, .smartbanner-close:hover {
	color: #eee;
}

.smartbanner-android .smartbanner-info {
	color:#ccc;
	text-shadow:0 1px 2px #000;
}

.smartbanner-android .smartbanner-title {
	color:#fff;
	font-weight: bold;
}

.smartbanner-android .smartbanner-button {
	min-width: 12%;
	border: 1px solid #DDDCDC;
	padding: 1px;
	color: #d1d1d1;
	background: none;
	border-radius: 0;
	box-shadow: none;
}

.smartbanner-android .smartbanner-button:active, .smartbanner-button:hover {
	background: none;
}

.smartbanner-android .smartbanner-button-text {
	text-align: center;
	display: block;
	padding: 0 10px;
	background: #42B6C9;
	background: linear-gradient(to bottom, #42B6C9, #39A9BB);
	text-transform: none;
	text-shadow: none;
	box-shadow: none;
}

.smartbanner-android .smartbanner-button-text:active, .smartbanner-button-text:hover {
	background: #2AC7E1;
}



